# Sql_code_data
### Look At Tables

In [ ]:
SELECT * from orders_dk

SELECT * from customers_dk

SELECT * from products_dk

## clean data to danish

In [ ]:
ALTER TABLE customers_dk 
CONVERT TO CHARACTER SET utf8mb4 
COLLATE utf8mb4_danish_ci;

ALTER TABLE orders_dk 
CONVERT TO CHARACTER SET utf8mb4 
COLLATE utf8mb4_danish_ci;

ALTER TABLE products_dk 
CONVERT TO CHARACTER SET utf8mb4 
COLLATE utf8mb4_danish_ci;

ALTER TABLE orders_dk CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_danish_ci;
ALTER TABLE customers_dk CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_danish_ci;

## Make sql views

In [ ]:
CREATE VIEW dk_full AS
SELECT 
    o.order_id,
    c.customerName,
    p.product_name,
    o.quantity,
    o.TotalPrice,
    o.order_date
FROM orders_dk o
JOIN customers_dk c ON c.customer_id = o.customer_id
JOIN products_dk p ON p.product_id = o.product_id;

The dk_full view combines data from three key tables:<br>
orders_dk<br>
customers_dk<br> 
products_dk<br>

The goal is to create a unified dataset that can easily be used for analytics, reporting, and dashboards.
The view provides the following information:

- Order ID
- Customer name
- Product name
- Quantity ordered
- Total price
- Order date

This demonstrates your skills in relational database design, JOIN operations, and creating reusable SQL structures for analysis.

In [ ]:
CREATE VIEW customer_value AS
SELECT 
    c.customer_id,
    c.customerName,
    SUM(o.TotalPrice) AS total_spend,
    COUNT(o.order_id) AS total_orders
FROM customers_dk c
LEFT JOIN orders_dk o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.customerName;

The customer_value view provides a consolidated overview of each customer’s financial contribution to the business. 

It combines customer information from customers_dk with order data from orders_dk and calculates both total revenue and total order count per customer.
Using a LEFT JOIN ensures that all customers are included — even those without any orders yet.
This is valuable for identifying active vs. inactive customers and for customer segmentation analysis.

The view calculates:

- total_spend: The total revenue generated by each customer
- total_orders: The number of orders placed by the customer

In [ ]:
CREATE VIEW product_sales_overview AS
SELECT 
    p.product_id,
    p.product_name,
    SUM(o.quantity) AS total_units_sold,
    SUM(o.TotalPrice) AS total_revenue
FROM products_dk p
LEFT JOIN orders_dk o ON p.product_id = o.product_id
GROUP BY p.product_id, p.product_name;

The product_sales_overview view provides a consolidated summary of sales performance for each product. 
It combines product data from products_dk with order details from orders_dk using a LEFT JOIN, ensuring that all products are included — even those with no sales activity.

The view calculates two key metrics:

- total_units_sold: The total number of units sold per product
- total_revenue: The total revenue generated by each product

This view is useful for sales analytics, product performance reports, inventory planning, and dashboard visualizations.

In [ ]:
CREATE VIEW payment_method_count AS
SELECT payment_method, COUNT(*) AS antal_ordrer
FROM orders_dk
GROUP BY payment_method;

Description of SQL View: payment_method_count

The payment_method_count view provides a simple and clear overview of how many orders are associated with each payment method. Although straightforward, this view is highly useful for analyzing: <br> - customer behavior<br> - payment trends <br> - financial reporting.

By grouping data by payment_method and counting the number of orders, the business can easily identify:

- Which payment methods are most commonly used
- Changes in customer payment preferences
- Opportunities to optimize or expand payment options

This view is well suited for dashboards, KPI summaries, and operational reporting.

In [ ]:
CREATE VIEW orders_years_overview AS
SELECT 
    YEAR(order_date) AS order_year,
    COUNT(*) AS total_orders
FROM orders_dk
GROUP BY YEAR(order_date)
ORDER BY order_year;

Description of SQL View: orders_years_overview

The orders_years_overview view provides a clear overview of how many orders were placed each year.
This view is useful for understanding long‑term trends in order volume and for building time‑based analytics.

By using the YEAR(order_date) function, all orders are grouped by year, and the total number of orders per year is calculated. This makes the view ideal for:

- Time‑series analysis
- Trend identification
- Annual KPI summaries
- Reports and dashboards

In [ ]:
CREATE VIEW orders_year_total AS
SELECT 
    COUNT(*) AS total_orders_last_active_year
FROM orders_dk
WHERE YEAR(order_date) = (
    SELECT MAX(YEAR(order_date))
    FROM orders_dk
);

Description of SQL View: orders_year_total

The orders_year_total view calculates the total number of orders placed in the most recent active year found in the dataset.
Instead of requiring a manually specified year, the view uses a subquery to automatically detect the newest year available in orders_dk.
This makes the view fully dynamic — when new orders appear in a future year, the result updates automatically without modifying the SQL code.
This view is typically used for:

- Annual KPI calculations
- High‑level trend tracking
- Executive dashboards
- Automated reporting without hard‑coded year values

In [ ]:
SELECT * FROM orders_year_total WHERE total_orders_last_active_year > 0;